In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from statsmodels.tsa.arima.model import ARIMA

<b>Reading the data</b>

In [3]:
data = pd.read_csv('data/Electric Blower.csv')
data.head()

   Unnamed: 0.1  Unnamed: 0      TxnDate   TxnTime  Consumption
0             0       76229  01 Jan 2022  16:55:52        1.010
1             1       76258  01 Jan 2022  21:45:29        0.908
2             2       76287  01 Jan 2022  12:24:52        0.926
3             3       76316  01 Jan 2022  04:07:36        0.928
4             4       76345  01 Jan 2022  06:52:25        0.916

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3606 entries, 0 to 3605
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  3606 non-null   int64
 1   Unnamed: 0    3606 non-null   int64
 2   TxnDate       3606 non-null   object
 3   TxnTime       3606 non-null   object
 4   Consumption   3606 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 141.0+ KB

In [5]:
data.shape

(3606, 5)

<b>Data Cleaning and Preprocessing</b>

In [7]:
data.drop(columns=['Unnamed: 0.1','Unnamed: 0'],inplace=True)

data.head()

       TxnDate   TxnTime  Consumption
0  01 Jan 2022  16:55:52        1.010
1  01 Jan 2022  21:45:29        0.908
2  01 Jan 2022  12:24:52        0.926
3  01 Jan 2022  04:07:36        0.928
4  01 Jan 2022  06:52:25        0.916

<p>In the above data, TxnDate and TxnTime are of object datatype. Combine both the columns and convert to datetime</p>

In [11]:
data['Datetime'] = pd.to_datetime(data.iloc[:,0] + ' ' + data.iloc[:,1])

In [13]:
data.set_index('Datetime',inplace=True)

data.head()

                         TxnDate   TxnTime  Consumption
Datetime
2022-01-01 16:55:52  01 Jan 2022  16:55:52        1.010
2022-01-01 21:45:29  01 Jan 2022  21:45:29        0.908
2022-01-01 12:24:52  01 Jan 2022  12:24:52        0.926
2022-01-01 04:07:36  01 Jan 2022  04:07:36        0.928
2022-01-01 06:52:25  01 Jan 2022  06:52:25        0.916

In [14]:
data.drop(columns=['TxnDate','TxnTime'],inplace=True)

In [15]:
data.head()

                     Consumption
Datetime
2022-01-01 16:55:52        1.010
2022-01-01 21:45:29        0.908
2022-01-01 12:24:52        0.926
2022-01-01 04:07:36        0.928
2022-01-01 06:52:25        0.916

In [17]:
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [19]:
data = data.sort_index()    # Sort according to the index

In [21]:
data.isnull().sum()     # Check for null values

Consumption    0
dtype: int64